__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.DS_Store
.venv/
venv/
.ipynb_checkpoints/

*.tar
*.tar.gz
*.zip

=4.10.0

models/*.onnx
models/*.engine
!models/.gitkeep

results/raw/*
!results/raw/.gitkeep
!results/raw/environment.json
!results/raw/onnx_export.json
!results/raw/pytorch_benchmark.json
!results/raw/pytorch_predictions.json
!results/raw/onnx_benchmark.json
!results/raw/onnx_predictions.json
!results/raw/trt_fp32_benchmark.json
!results/raw/trt_fp32_predictions.json
!results/raw/trt_fp16_benchmark.json
!results/raw/trt_fp16_predictions.json
!results/raw/trtexec_benchmark_fp32.json
!results/raw/trtexec_benchmark_fp16.json
!results/raw/validation_pytorch_vs_onnx.json
!results/raw/validation_pytorch_vs_trt_fp32.json
!results/raw/validation_pytorch_vs_trt_fp16.json
!results/raw/summary.md

results/nsys/*
!results/nsys/.gitkeep
